body {
    margin: 0;
    background-color: #251f47;
    color: white
}

@font-face {
  font-family: 'CursedTimerULiL';
  src:  url(CursedTimerULiL.ttf) format("truetype");
 
        
}
.container {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    margin: 0;
    
}

.container1 {
    display: flex;
    justify-content: space-around;
    width: 40%;
    height: 120px;
    background-color: black;
    border-radius: 10px;
    font-family: 'CursedTimerULiL';
     color: red;
}

p{
 font-size: 100px;
 margin: 0;

}
.box {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    margin-top: 40px ;
}
button {
  background-color: #251f47;
  color: white;
 font-family: 'CursedTimerULiL';
  border: 0.5px solid white;
     cursor:pointer;   
     border-radius: 8px; 
}